.playwrite-hu {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.hero{
    font-family: "Playwrite HU", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important; 
}